.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  flex-direction: row;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox__qdUsq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.slotTargetChildren {
  color: #535353;
}
.text___0EARb {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__yFim {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 0px;
  height: 0px;
  opacity: 0;
  flex-shrink: 0;
}
.textInput__qHQlf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.embedHtmleditEnabled:global(.__wab_instance) {
  display: flex;
}
