@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&family=Nunito%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-w0JXEN7-9BOmF8V: 1px;
  --plasmic-token-unnamed-style-token: var(--token-w0JXEN7-9BOmF8V);
  --token-V1sNDQUXNBv1NHY: var(--token-ySUInSNRnKiUEN9);
  --plasmic-token-unnamed-style-token-2: var(--token-V1sNDQUXNBv1NHY);
  --token-ySUInSNRnKiUEN9: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-ySUInSNRnKiUEN9);
  --token-Bt-NVAoXiuyPlCo: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token-Bt-NVAoXiuyPlCo);
  --token-Zq5YL7TglviUGrg: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-Zq5YL7TglviUGrg);
  --token-rcPuGA3UVvMo7xv: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-rcPuGA3UVvMo7xv);
  --token-Cg5_9FCqZ3zOJW2: var(--token-8oxMQ2z-C5odiJ1);
  --plasmic-token-unnamed-style-token-7: var(--token-Cg5_9FCqZ3zOJW2);
  --token-8oxMQ2z-C5odiJ1: var(--token-gUMJ_Xmn2Bm2IJJ);
  --plasmic-token-unnamed-style-token-8: var(--token-8oxMQ2z-C5odiJ1);
  --token-gUMJ_Xmn2Bm2IJJ: var(--token-MAP8SKTGwnAbjl_);
  --plasmic-token-unnamed-style-token-9: var(--token-gUMJ_Xmn2Bm2IJJ);
  --token-MAP8SKTGwnAbjl_: var(--token-v5341FzY3oxeYU6);
  --plasmic-token-unnamed-style-token-10: var(--token-MAP8SKTGwnAbjl_);
  --token-v5341FzY3oxeYU6: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-v5341FzY3oxeYU6);
  --token-lcs3vxdTYWfgYOj: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-lcs3vxdTYWfgYOj);
  --token-NFe9YbptcjOzXSJ: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-NFe9YbptcjOzXSJ);
  --token-Pt0AXZNLgh_uB5r: var(--token-PtNKARts11NZS-C);
  --plasmic-token-background-color-1-f-7926: var(--token-Pt0AXZNLgh_uB5r);
  --token-PtNKARts11NZS-C: #1f7926;
  --plasmic-token-1-f-7926: var(--token-PtNKARts11NZS-C);
  --token-wCH1xOvZ25u2Dcs: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-wCH1xOvZ25u2Dcs);
  --token-s5BotgB3wI7memV: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-s5BotgB3wI7memV);
  --token-6tucHzEuJJfZ2Pu: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-6tucHzEuJJfZ2Pu);
  --token-zIAfh09w7wwstrH: var(--token-pcNMKI0DItc4dsi);
  --plasmic-token-unnamed-style-token-17: var(--token-zIAfh09w7wwstrH);
  --token-pcNMKI0DItc4dsi: #9dd3e1;
  --plasmic-token-unnamed-style-token-18: var(--token-pcNMKI0DItc4dsi);
  --token-lpRsp6NN7cAIuWi: currentcolor;
  --plasmic-token-unnamed-style-token-19: var(--token-lpRsp6NN7cAIuWi);
  --token-gDSJ-VLchzY_0pg: var(--token-16NJQC-xG3lb-UD);
  --plasmic-token-unnamed-style-token-20: var(--token-gDSJ-VLchzY_0pg);
  --token-16NJQC-xG3lb-UD: currentcolor;
  --plasmic-token-unnamed-style-token-21: var(--token-16NJQC-xG3lb-UD);
  --token-C-cx19-cLLJREY3: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-C-cx19-cLLJREY3);
  --token-6XN4llNY_: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-6XN4llNY_);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-lcs3vxdTYWfgYOj: #15a1c6;
    --plasmic-token-unnamed-style-token-12: var(--token-lcs3vxdTYWfgYOj);
    --token-NFe9YbptcjOzXSJ: #f35900;
    --plasmic-token-unnamed-style-token-13: var(--token-NFe9YbptcjOzXSJ);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_experiment_override) {
  --mixin-0zh07FZ_mGA9CCp_font-family: "Inter", sans-serif;
  --mixin-0zh07FZ_mGA9CCp_font-size: 16px;
  --mixin-0zh07FZ_mGA9CCp_font-weight: 400;
  --mixin-0zh07FZ_mGA9CCp_font-style: normal;
  --mixin-0zh07FZ_mGA9CCp_color: #535353;
  --mixin-0zh07FZ_mGA9CCp_text-align: left;
  --mixin-0zh07FZ_mGA9CCp_text-transform: none;
  --mixin-0zh07FZ_mGA9CCp_line-height: 1.5;
  --mixin-0zh07FZ_mGA9CCp_letter-spacing: normal;
  --mixin-0zh07FZ_mGA9CCp_white-space: pre-wrap;
  --mixin-0zh07FZ_mGA9CCp_user-select: text;
  --mixin-0zh07FZ_mGA9CCp_text-decoration-line: none;
  --mixin-0zh07FZ_mGA9CCp_text-overflow: clip;
  --mixin-2inUl6LIOkpdLaW_color: #000000;
  --mixin-2inUl6LIOkpdLaW_font-weight: 900;
  --mixin-2inUl6LIOkpdLaW_font-size: 72px;
  --mixin-2inUl6LIOkpdLaW_line-height: 1;
  --mixin-2inUl6LIOkpdLaW_letter-spacing: -4px;
  --mixin-2inUl6LIOkpdLaW_white-space: pre-wrap;
  --mixin-d_z4IIG8NV7jfo2_color: #000000;
  --mixin-d_z4IIG8NV7jfo2_font-size: 48px;
  --mixin-d_z4IIG8NV7jfo2_font-weight: 700;
  --mixin-d_z4IIG8NV7jfo2_letter-spacing: -1px;
  --mixin-d_z4IIG8NV7jfo2_line-height: 1.1;
  --mixin-d_z4IIG8NV7jfo2_white-space: pre-wrap;
  --mixin-yJGTCZ1Ly_mF9sH_color: #0070f3;
  --mixin-yJGTCZ1Ly_mF9sH_white-space: pre-wrap;
  --mixin-_J8WO-0d8Cs2aP1_color: #000000;
  --mixin-_J8WO-0d8Cs2aP1_font-size: 32px;
  --mixin-_J8WO-0d8Cs2aP1_font-weight: 600;
  --mixin-_J8WO-0d8Cs2aP1_letter-spacing: -0.8px;
  --mixin-_J8WO-0d8Cs2aP1_line-height: 1.2;
  --mixin-_J8WO-0d8Cs2aP1_white-space: pre-wrap;
  --mixin-7EXhxY0vmx4lYGX_color: #000000;
  --mixin-7EXhxY0vmx4lYGX_font-size: 24px;
  --mixin-7EXhxY0vmx4lYGX_font-weight: 600;
  --mixin-7EXhxY0vmx4lYGX_letter-spacing: -0.5px;
  --mixin-7EXhxY0vmx4lYGX_line-height: 1.3;
  --mixin-7EXhxY0vmx4lYGX_white-space: pre-wrap;
  --mixin-r7USdjP2dl_-px-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-r7USdjP2dl_-px-_border-bottom-color: #dddddd;
  --mixin-r7USdjP2dl_-px-_border-bottom-style: solid;
  --mixin-r7USdjP2dl_-px-_border-bottom-width: 1px;
  --mixin-r7USdjP2dl_-px-_border-left-color: #dddddd;
  --mixin-r7USdjP2dl_-px-_border-left-style: solid;
  --mixin-r7USdjP2dl_-px-_border-left-width: 1px;
  --mixin-r7USdjP2dl_-px-_border-right-color: #dddddd;
  --mixin-r7USdjP2dl_-px-_border-right-style: solid;
  --mixin-r7USdjP2dl_-px-_border-right-width: 1px;
  --mixin-r7USdjP2dl_-px-_border-top-color: #dddddd;
  --mixin-r7USdjP2dl_-px-_border-top-style: solid;
  --mixin-r7USdjP2dl_-px-_border-top-width: 1px;
  --mixin-r7USdjP2dl_-px-_border-bottom-left-radius: 3px;
  --mixin-r7USdjP2dl_-px-_border-bottom-right-radius: 3px;
  --mixin-r7USdjP2dl_-px-_border-top-left-radius: 3px;
  --mixin-r7USdjP2dl_-px-_border-top-right-radius: 3px;
  --mixin-r7USdjP2dl_-px-_font-family: "Inconsolata";
  --mixin-r7USdjP2dl_-px-_padding-bottom: 1px;
  --mixin-r7USdjP2dl_-px-_padding-left: 4px;
  --mixin-r7USdjP2dl_-px-_padding-right: 4px;
  --mixin-r7USdjP2dl_-px-_padding-top: 1px;
  --mixin-r7USdjP2dl_-px-_white-space: pre-wrap;
  --mixin-PBUESHHjZF7xqm3_border-left-color: #dddddd;
  --mixin-PBUESHHjZF7xqm3_border-left-style: solid;
  --mixin-PBUESHHjZF7xqm3_border-left-width: 3px;
  --mixin-PBUESHHjZF7xqm3_color: #888888;
  --mixin-PBUESHHjZF7xqm3_padding-left: 10px;
  --mixin-PBUESHHjZF7xqm3_white-space: pre-wrap;
  --mixin-tAvAcZDImfgX5vo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tAvAcZDImfgX5vo_border-bottom-color: #dddddd;
  --mixin-tAvAcZDImfgX5vo_border-bottom-style: solid;
  --mixin-tAvAcZDImfgX5vo_border-bottom-width: 1px;
  --mixin-tAvAcZDImfgX5vo_border-left-color: #dddddd;
  --mixin-tAvAcZDImfgX5vo_border-left-style: solid;
  --mixin-tAvAcZDImfgX5vo_border-left-width: 1px;
  --mixin-tAvAcZDImfgX5vo_border-right-color: #dddddd;
  --mixin-tAvAcZDImfgX5vo_border-right-style: solid;
  --mixin-tAvAcZDImfgX5vo_border-right-width: 1px;
  --mixin-tAvAcZDImfgX5vo_border-top-color: #dddddd;
  --mixin-tAvAcZDImfgX5vo_border-top-style: solid;
  --mixin-tAvAcZDImfgX5vo_border-top-width: 1px;
  --mixin-tAvAcZDImfgX5vo_border-bottom-left-radius: 3px;
  --mixin-tAvAcZDImfgX5vo_border-bottom-right-radius: 3px;
  --mixin-tAvAcZDImfgX5vo_border-top-left-radius: 3px;
  --mixin-tAvAcZDImfgX5vo_border-top-right-radius: 3px;
  --mixin-tAvAcZDImfgX5vo_font-family: "Inconsolata";
  --mixin-tAvAcZDImfgX5vo_padding-bottom: 3px;
  --mixin-tAvAcZDImfgX5vo_padding-left: 6px;
  --mixin-tAvAcZDImfgX5vo_padding-right: 6px;
  --mixin-tAvAcZDImfgX5vo_padding-top: 3px;
  --mixin-tAvAcZDImfgX5vo_white-space: pre-wrap;
  --mixin-n9l7oR-1B0eWKll_display: flex;
  --mixin-n9l7oR-1B0eWKll_flex-direction: column;
  --mixin-n9l7oR-1B0eWKll_align-items: stretch;
  --mixin-n9l7oR-1B0eWKll_justify-content: flex-start;
  --mixin-n9l7oR-1B0eWKll_list-style-position: outside;
  --mixin-n9l7oR-1B0eWKll_padding-left: 40px;
  --mixin-n9l7oR-1B0eWKll_position: relative;
  --mixin-n9l7oR-1B0eWKll_list-style-type: disc;
  --mixin-n9l7oR-1B0eWKll_white-space: pre-wrap;
  --mixin-CWQPklTzUgtaVlE_display: flex;
  --mixin-CWQPklTzUgtaVlE_flex-direction: column;
  --mixin-CWQPklTzUgtaVlE_align-items: stretch;
  --mixin-CWQPklTzUgtaVlE_justify-content: flex-start;
  --mixin-CWQPklTzUgtaVlE_list-style-position: outside;
  --mixin-CWQPklTzUgtaVlE_padding-left: 40px;
  --mixin-CWQPklTzUgtaVlE_position: relative;
  --mixin-CWQPklTzUgtaVlE_list-style-type: decimal;
  --mixin-CWQPklTzUgtaVlE_white-space: pre-wrap;
  --mixin-YJYRjrxSbRgQnIz_color: #000000;
  --mixin-YJYRjrxSbRgQnIz_font-size: 20px;
  --mixin-YJYRjrxSbRgQnIz_font-weight: 600;
  --mixin-YJYRjrxSbRgQnIz_letter-spacing: -0.3px;
  --mixin-YJYRjrxSbRgQnIz_line-height: 1.5;
  --mixin-YJYRjrxSbRgQnIz_white-space: pre-wrap;
  --mixin-O-mJo6C0sOvEe9D_color: #000000;
  --mixin-O-mJo6C0sOvEe9D_font-size: 16px;
  --mixin-O-mJo6C0sOvEe9D_font-weight: 600;
  --mixin-O-mJo6C0sOvEe9D_line-height: 1.5;
  --mixin-O-mJo6C0sOvEe9D_white-space: pre-wrap;
  --mixin-xcWtrsqahFzbUeX_color: #3291ff;
  --mixin-xcWtrsqahFzbUeX_white-space: pre-wrap;
  --mixin-ZebHaEOnBsZV43P_white-space: pre-wrap;
  --mixin-9yos1uajAW2ik9u_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_experiment_override) {
  --mixin-_1vSx-H6kJu6Byl_white-space: pre-wrap;
  --plasmic-mixin-1-f-7926_white-space: var(
    --mixin-_1vSx-H6kJu6Byl_white-space
  );
  --mixin-WGIXXc0qDaBazo4_white-space: pre-wrap;
  --plasmic-mixin-background-color_white-space: var(
    --mixin-WGIXXc0qDaBazo4_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0zh07FZ_mGA9CCp_font-family);
  font-size: var(--mixin-0zh07FZ_mGA9CCp_font-size);
  font-weight: var(--mixin-0zh07FZ_mGA9CCp_font-weight);
  font-style: var(--mixin-0zh07FZ_mGA9CCp_font-style);
  color: var(--mixin-0zh07FZ_mGA9CCp_color);
  text-align: var(--mixin-0zh07FZ_mGA9CCp_text-align);
  text-transform: var(--mixin-0zh07FZ_mGA9CCp_text-transform);
  line-height: var(--mixin-0zh07FZ_mGA9CCp_line-height);
  letter-spacing: var(--mixin-0zh07FZ_mGA9CCp_letter-spacing);
  white-space: var(--mixin-0zh07FZ_mGA9CCp_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-2inUl6LIOkpdLaW_color);
  font-weight: var(--mixin-2inUl6LIOkpdLaW_font-weight);
  font-size: var(--mixin-2inUl6LIOkpdLaW_font-size);
  line-height: var(--mixin-2inUl6LIOkpdLaW_line-height);
  letter-spacing: var(--mixin-2inUl6LIOkpdLaW_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-d_z4IIG8NV7jfo2_color);
  font-size: var(--mixin-d_z4IIG8NV7jfo2_font-size);
  font-weight: var(--mixin-d_z4IIG8NV7jfo2_font-weight);
  letter-spacing: var(--mixin-d_z4IIG8NV7jfo2_letter-spacing);
  line-height: var(--mixin-d_z4IIG8NV7jfo2_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-yJGTCZ1Ly_mF9sH_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-_J8WO-0d8Cs2aP1_color);
  font-size: var(--mixin-_J8WO-0d8Cs2aP1_font-size);
  font-weight: var(--mixin-_J8WO-0d8Cs2aP1_font-weight);
  letter-spacing: var(--mixin-_J8WO-0d8Cs2aP1_letter-spacing);
  line-height: var(--mixin-_J8WO-0d8Cs2aP1_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-7EXhxY0vmx4lYGX_color);
  font-size: var(--mixin-7EXhxY0vmx4lYGX_font-size);
  font-weight: var(--mixin-7EXhxY0vmx4lYGX_font-weight);
  letter-spacing: var(--mixin-7EXhxY0vmx4lYGX_letter-spacing);
  line-height: var(--mixin-7EXhxY0vmx4lYGX_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-r7USdjP2dl_-px-_font-family);
  border-radius: var(--mixin-r7USdjP2dl_-px-_border-top-left-radius)
    var(--mixin-r7USdjP2dl_-px-_border-top-right-radius)
    var(--mixin-r7USdjP2dl_-px-_border-bottom-right-radius)
    var(--mixin-r7USdjP2dl_-px-_border-bottom-left-radius);
  padding: var(--mixin-r7USdjP2dl_-px-_padding-top)
    var(--mixin-r7USdjP2dl_-px-_padding-right)
    var(--mixin-r7USdjP2dl_-px-_padding-bottom)
    var(--mixin-r7USdjP2dl_-px-_padding-left);
  border-top: var(--mixin-r7USdjP2dl_-px-_border-top-width)
    var(--mixin-r7USdjP2dl_-px-_border-top-style)
    var(--mixin-r7USdjP2dl_-px-_border-top-color);
  border-right: var(--mixin-r7USdjP2dl_-px-_border-right-width)
    var(--mixin-r7USdjP2dl_-px-_border-right-style)
    var(--mixin-r7USdjP2dl_-px-_border-right-color);
  border-bottom: var(--mixin-r7USdjP2dl_-px-_border-bottom-width)
    var(--mixin-r7USdjP2dl_-px-_border-bottom-style)
    var(--mixin-r7USdjP2dl_-px-_border-bottom-color);
  border-left: var(--mixin-r7USdjP2dl_-px-_border-left-width)
    var(--mixin-r7USdjP2dl_-px-_border-left-style)
    var(--mixin-r7USdjP2dl_-px-_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-PBUESHHjZF7xqm3_color);
  padding-left: var(--mixin-PBUESHHjZF7xqm3_padding-left);
  border-left: var(--mixin-PBUESHHjZF7xqm3_border-left-width)
    var(--mixin-PBUESHHjZF7xqm3_border-left-style)
    var(--mixin-PBUESHHjZF7xqm3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tAvAcZDImfgX5vo_font-family);
  border-radius: var(--mixin-tAvAcZDImfgX5vo_border-top-left-radius)
    var(--mixin-tAvAcZDImfgX5vo_border-top-right-radius)
    var(--mixin-tAvAcZDImfgX5vo_border-bottom-right-radius)
    var(--mixin-tAvAcZDImfgX5vo_border-bottom-left-radius);
  padding: var(--mixin-tAvAcZDImfgX5vo_padding-top)
    var(--mixin-tAvAcZDImfgX5vo_padding-right)
    var(--mixin-tAvAcZDImfgX5vo_padding-bottom)
    var(--mixin-tAvAcZDImfgX5vo_padding-left);
  border-top: var(--mixin-tAvAcZDImfgX5vo_border-top-width)
    var(--mixin-tAvAcZDImfgX5vo_border-top-style)
    var(--mixin-tAvAcZDImfgX5vo_border-top-color);
  border-right: var(--mixin-tAvAcZDImfgX5vo_border-right-width)
    var(--mixin-tAvAcZDImfgX5vo_border-right-style)
    var(--mixin-tAvAcZDImfgX5vo_border-right-color);
  border-bottom: var(--mixin-tAvAcZDImfgX5vo_border-bottom-width)
    var(--mixin-tAvAcZDImfgX5vo_border-bottom-style)
    var(--mixin-tAvAcZDImfgX5vo_border-bottom-color);
  border-left: var(--mixin-tAvAcZDImfgX5vo_border-left-width)
    var(--mixin-tAvAcZDImfgX5vo_border-left-style)
    var(--mixin-tAvAcZDImfgX5vo_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-n9l7oR-1B0eWKll_display);
  flex-direction: var(--mixin-n9l7oR-1B0eWKll_flex-direction);
  align-items: var(--mixin-n9l7oR-1B0eWKll_align-items);
  justify-content: var(--mixin-n9l7oR-1B0eWKll_justify-content);
  list-style-position: var(--mixin-n9l7oR-1B0eWKll_list-style-position);
  padding-left: var(--mixin-n9l7oR-1B0eWKll_padding-left);
  position: var(--mixin-n9l7oR-1B0eWKll_position);
  list-style-type: var(--mixin-n9l7oR-1B0eWKll_list-style-type);
  flex-column-gap: var(--mixin-n9l7oR-1B0eWKll_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-CWQPklTzUgtaVlE_display);
  flex-direction: var(--mixin-CWQPklTzUgtaVlE_flex-direction);
  align-items: var(--mixin-CWQPklTzUgtaVlE_align-items);
  justify-content: var(--mixin-CWQPklTzUgtaVlE_justify-content);
  list-style-position: var(--mixin-CWQPklTzUgtaVlE_list-style-position);
  padding-left: var(--mixin-CWQPklTzUgtaVlE_padding-left);
  position: var(--mixin-CWQPklTzUgtaVlE_position);
  list-style-type: var(--mixin-CWQPklTzUgtaVlE_list-style-type);
  flex-column-gap: var(--mixin-CWQPklTzUgtaVlE_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-YJYRjrxSbRgQnIz_color);
  font-size: var(--mixin-YJYRjrxSbRgQnIz_font-size);
  font-weight: var(--mixin-YJYRjrxSbRgQnIz_font-weight);
  letter-spacing: var(--mixin-YJYRjrxSbRgQnIz_letter-spacing);
  line-height: var(--mixin-YJYRjrxSbRgQnIz_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-O-mJo6C0sOvEe9D_color);
  font-size: var(--mixin-O-mJo6C0sOvEe9D_font-size);
  font-weight: var(--mixin-O-mJo6C0sOvEe9D_font-weight);
  line-height: var(--mixin-O-mJo6C0sOvEe9D_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-xcWtrsqahFzbUeX_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
