.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 387px;
  height: 45px;
  max-width: 100%;
  background: #d16827;
  position: relative;
  padding: 0px;
}
.text___7Jcqb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
