.article1Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5327px;
  background: #ffffff;
  padding-right: 0px;
  width: 1000px;
  position: relative;
  padding-top: 7px;
  border-radius: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .article1Body {
    padding-left: 0px;
    padding-bottom: 10px;
    height: 4347px;
    width: 400px;
  }
}
.heroHeadline {
  width: 750px;
  max-width: 100%;
  text-align: left;
  font-size: 36px;
  color: #000000;
  font-weight: 800;
  height: auto;
  display: none;
  padding: 30px 0px 0px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroHeadline {
    font-weight: 700;
    font-size: 28px;
    width: 354px;
    display: none;
    padding: 25px 0px 0px;
  }
}
.heroSubHeadline {
  width: 750px;
  max-width: 100%;
  font-size: 20px;
  height: auto;
  max-height: 400px;
  user-select: text;
  display: none;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroSubHeadline {
    font-weight: 500;
    font-size: 20px;
    width: 354px;
    display: none;
    padding: 0px;
  }
}
.link__hPvWm {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hPvWm {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.heroImage {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 750px;
  max-height: 400px;
  flex-shrink: 0;
  margin: 0px 0px 20px;
}
.heroImage > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroImage {
    width: 354px;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
    margin: 0px 0px 20px;
  }
}
.paragraph1 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  align-self: center;
  max-height: 400px;
  user-select: text;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph1 {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 354px;
    padding: 0px;
  }
}
.link__hWnSz {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hWnSz {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.image1 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
  margin: 0px 0px 20px;
}
.image1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image1 {
    object-fit: contain;
    height: auto;
    width: 354px;
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image1 > picture > img {
    object-fit: contain;
  }
}
.paragraph2 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  align-self: center;
  max-height: 400px;
  padding-top: 0px;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph2 {
    margin-bottom: 20px;
    width: 354px;
    margin-top: 0px;
    padding: 0px;
  }
}
.link__tJd8X {
  position: relative;
  display: flex;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__tJd8X {
    margin: 0px;
  }
}
.image2 {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 750px;
  max-height: 400px;
  flex-shrink: 0;
  margin: 0px 0px 20px;
}
.image2 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image2 {
    height: auto;
    width: 354px;
    max-width: 100%;
    max-height: 300px;
    flex-shrink: 0;
    margin: 0px 0px 20px;
  }
}
.paragraph3 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph3 {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 354px;
    padding: 0px;
  }
}
.link__dfbNq {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dfbNq {
    margin: 0px;
  }
}
.image3 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
  margin: 0px 0px 20px;
}
.image3 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image3 {
    object-fit: contain;
    height: auto;
    width: 354px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
    margin: 0px 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image3 > picture > img {
    object-fit: contain;
  }
}
.paragraph4 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph4 {
    margin-bottom: 20px;
    margin-top: 0px;
    width: 354px;
    padding: 0px;
  }
}
.link__zxn3D {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zxn3D {
    margin: 0px;
  }
}
.image4 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.image4 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image4 {
    object-fit: contain;
    height: auto;
    width: 354px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
    margin: 0px 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image4 > picture > img {
    object-fit: contain;
  }
}
.paragraph5 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph5 {
    margin-bottom: 20px;
    width: 354px;
    margin-top: 0px;
    padding: 0px;
  }
}
.link__j5DSo {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__j5DSo {
    margin: 0px;
  }
}
.image5 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.image5 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image5 {
    height: auto;
    width: 354px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
.paragraph6 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph6 {
    width: 354px;
    padding: 0px;
    margin: 0px 0px 20px;
  }
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.link__jlwn1 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__jlwn1 {
    margin: 0px;
  }
}
.image6 {
  width: 750px;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  flex-shrink: 0;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image6 {
    height: auto;
    width: 354px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
    margin: 0px;
  }
}
.paragraph7 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  font-size: 20px;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph7 {
    margin-top: 5px;
    width: 354px;
    margin-bottom: 0px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___0L1I4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0L1I4 {
    padding-top: 30px;
  }
}
.text__u8Y9V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #1c1a1a;
  min-width: 0;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 750px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
  }
}
.column__sKx1C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__iaTmp {
  background: var(--token-s5BotgB3wI7memV);
  position: relative;
  padding-bottom: 10px;
  padding-left: 13px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  max-width: 203px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iaTmp {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.column__hcMvI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 8px;
}
.img__f2V0L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  height: 80%;
}
.img__f2V0L > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__f2V0L {
    height: 70%;
    width: 8px;
  }
}
.column__r8Z9S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ormDz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ormDz {
    font-size: 14px;
  }
}
.img__jDnxe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jDnxe > picture > img {
  object-fit: cover;
}
.link__yn9DK {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yn9DK {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image7 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  margin-bottom: 0px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
}
.image7 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image7 {
    height: auto;
    width: 354px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
