.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 0px;
  }
}
.freeBox__wtKtv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wtKtv {
    padding-left: 0px;
  }
}
.freeBox__vMWti {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vMWti {
    margin-right: 0px;
    height: auto;
  }
}
.img___92CLu {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
  margin-right: 0;
  flex-shrink: 0;
}
.img___92CLu > picture > img {
  object-fit: contain;
}
.freeBox__yQuP3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.offerH1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot3 {
  font-size: 40px;
  font-weight: 700;
  color: #f62929;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot3 {
    font-size: 23px;
  }
}
.offerH12 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot4 {
  font-size: 24px;
  font-weight: 700;
  color: #202428;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot4 {
    font-size: 14px;
  }
}
.freeBox__nFmGa {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 800px;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nFmGa {
    width: 225px;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
}
.slotTargetSlot5 {
  font-size: 18px;
  color: #000000;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot5 {
    font-size: 12px;
  }
}
.freeBox__n0Urq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot6 {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}
.freeBox___8J81T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sdWe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  width: 90px;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px 0px;
}
.img__hEiXa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.img__hEiXa > picture > img {
  object-fit: cover;
}
.text__xp8Pl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.freeBox__uhim0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px 0px;
}
.img__tvS2C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.img__tvS2C > picture > img {
  object-fit: cover;
}
.text__k5JAz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
